* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    font-family: ': Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    color: rgb(219, 202, 44);
    text-shadow: 2px 2px black;
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 192);
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0;
}

canvas {
    background-color: rgb(192, 192, 192);
}

.mazeDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}